body {
  width: 100vw;
  height: 100vh;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.color-block {
  width: 300px;
  height: 300px;
  border: 2px solid hotpink;
}
